In [1]:
import re
import pandas as pd
import numpy as np
input = open("input.txt", "r").read().strip().split("\n")
hands_and_bids = [line.split(" ") for line in input]

In [2]:
df = pd.DataFrame(hands_and_bids, columns=["hand", "bid"])

In [3]:
df

      hand  bid
0    8T64Q  595
1    79J27  258
2    88885   88
3    8933J  444
4    72527  676
..     ...  ...
995  6K854  279
996  3TKAA  717
997  77484  391
998  Q2K24  399
999  Q7QQJ  572

[1000 rows x 2 columns]

In [4]:
ranks = {'A':14,
        'K':13, 
        'Q':12, 
        'J':1,
        'T':10,
        '9':9,
        '8':8,
        '7':7,
        '6':6,
        '5':5,
        '4':4,
        '3':3,
        '2':2}

In [5]:
s = '88885'
s.count('8')

4

In [6]:
def get_possible_ranks(combs, jokers):
    all_ranks = []
    combs.append(0)
    og_combs = combs.copy()
    for i in range(len(combs)):
        combs = og_combs.copy()
        combs[i] = combs[i] + jokers

        if 5 in combs:
            all_ranks.append(7)
        elif 4 in combs:
            all_ranks.append(6)
        elif 3 in combs and 2 in combs:
            all_ranks.append(5)
        elif 3 in combs:
            all_ranks.append(4)
        elif combs.count(2) == 2:
            all_ranks.append(3)
        elif 2 in combs:
            all_ranks.append(2)
        else:
            all_ranks.append(1)
    return all_ranks

In [7]:
def get_hand_rank(hand):
    combs=[]
    jokers = 0
    for key in ranks.keys():
        occurences = hand.count(key)
        if occurences > 0 and key != 'J':
            combs.append(occurences)
        if key == 'J':
            jokers = occurences
    return max(get_possible_ranks(combs, jokers))

In [8]:
hand_ranks = []
for hb in df.itertuples():
    hand_ranks.append(get_hand_rank(hb.hand))
print(hb)

Pandas(Index=999, hand='Q7QQJ', bid='572')

In [9]:
df['hand_rank'] = hand_ranks
df.sort_values(by=['hand_rank'], ascending=False)

      hand  bid  hand_rank
951  KKJKK  918          7
669  888J8  411          7
443  J333J   79          7
321  55J55  888          7
329  JQQQJ  699          7
..     ...  ...        ...
838  682QA  917          1
839  4357T  245          1
840  75KT6  183          1
417  8Q57T  726          1
0    8T64Q  595          1

[1000 rows x 3 columns]

In [10]:
def get_finger_value(finger, hand):
    return ranks[hand[finger]]

first_finger = [get_finger_value(0, hb.hand) for hb in df.itertuples()]
second_finger = [get_finger_value(1, hb.hand) for hb in df.itertuples()]
third_finger = [get_finger_value(2, hb.hand) for hb in df.itertuples()]
fourth_finger = [get_finger_value(3, hb.hand) for hb in df.itertuples()]
fifth_finger = [get_finger_value(4, hb.hand) for hb in df.itertuples()]
df['first_finger'] = first_finger
df['second_finger'] = second_finger
df['third_finger'] = third_finger
df['fourth_finger'] = fourth_finger
df['fifth_finger'] = fifth_finger

In [11]:
df = df.sort_values(by=['hand_rank', 'first_finger', 'second_finger', 'third_finger', 'fourth_finger', 'fifth_finger'], ascending=False).reset_index(drop=True)

In [12]:
winnings = [int(hb.bid)*(1000-hb.Index) for hb in df.itertuples()]
winnings

[211000,
 953046,
 916164,
 215352,
 332664,
 846745,
 982072,
 408123,
 927520,
 564870,
 879120,
 717025,
 595764,
 252672,
 341156,
 91605,
 687816,
 164161,
 921116,
 78480,
 470400,
 649077,
 369684,
 351720,
 77104,
 932100,
 695436,
 360010,
 707616,
 438892,
 127070,
 579462,
 711480,
 157621,
 381570,
 359945,
 737460,
 455499,
 638768,
 62465,
 837120,
 858305,
 27782,
 88044,
 251428,
 132745,
 15264,
 588001,
 609280,
 797889,
 687800,
 219219,
 577332,
 697939,
 754908,
 532035,
 657968,
 318734,
 702732,
 81867,
 664580,
 381234,
 405216,
 262360,
 124488,
 534820,
 818184,
 203394,
 192924,
 587461,
 89280,
 538820,
 840768,
 589572,
 35188,
 434750,
 611688,
 599950,
 670294,
 358269,
 27600,
 493503,
 903312,
 519939,
 727304,
 565470,
 647112,
 822613,
 194256,
 40084,
 455000,
 516312,
 391348,
 638528,
 376896,
 79640,
 759360,
 812700,
 614262,
 803692,
 29700,
 87203,
 258624,
 817167,
 315392,
 577275,
 587358,
 170563,
 394264,
 700326,
 172660,
 60452,
 508824,
 584533,
 220614,
 355770,
 846872,
 513906,
 378378,
 336542,
 548240,
 537948,
 96580,
 730541,
 630720,
 689500,
 298908,
 270630,
 729864,
 526084,
 674250,
 336303,
 273420,
 483786,
 112580,
 748225,
 409536,
 812946,
 517200,
 194586,
 300140,
 377960,
 325182,
 389078,
 327848,
 344565,
 679784,
 84447,
 312684,
 587190,
 518500,
 73014,
 116176,
 763994,
 225882,
 659100,
 251512,
 451005,
 154928,
 739239,
 595560,
 437119,
 767608,
 656208,
 651244,
 99365,
 81732,
 34986,
 378560,
 30747,
 627480,
 93677,
 309672,
 3308,
 407218,
 84975,
 645192,
 77362,
 73158,
 672399,
 253380,
 556101,
 723930,
 339055,
 39984,
 388755,
 211640,
 181299,
 67396,
 716113,
 776790,
 410972,
 438744,
 311502,
 353028,
 796145,
 780684,
 305943,
 563004,
 265932,
 169600,
 667165,
 193116,
 194468,
 266660,
 43725,
 387472,
 438529,
 170280,
 628845,
 436080,
 587805,
 278952,
 423406,
 561990,
 597385,
 380240,
 738369,
 199410,
 654478,
 724620,
 31160,
 286304,
 149184,
 116400,
 656425,
 4644,
 43288,
 625320,
 132612,
 568260,
 608279,
 307200,
 668057,
 142476,
 348840,
 96264,
 746214,
 689610,
 477147,
 348080,
 449328,
 604126,
 71915,
 257040,
 319365,
 331006,
 412644,
 306064,
 45811,
 246750,
 55426,
 1496,
 677529,
 280496,
 231695,
 265608,
 436884,
 461524,
 294918,
 539460,
 377629,
 304794,
 708257,
 106720,
 493185,
 36700,
 686088,
 549000,
 66521,
 245280,
 527067,
 519064,
 282076,
 536514,
 179075,
 551688,
 458382,
 298908,
 651784,
 682560,
 113602,
 427928,
 501900,
 16468,
 617760,
 376278,
 171833,
 485584,
 546048,
 77390,
 560110,
 99828,
 673771,
 576096,
 687375,
 70400,
 192622,
 666198,
 354005,
 362600,
 96462,
 376920,
 315741,
 574200,
 273135,
 435832,
 133749,
 641484,
 352410,
 344310,
 646971,
 465776,
 610743,
 421204,
 254820,
 32832,
 289592,
 235290,
 160035,
 17000,
 624680,
 331542,
 6093,
 256880,
 149850,
 542570,
 302850,
 110880,
 212036,
 501830,
 445554,
 621240,
 38019,
 584748,
 142310,
 320048,
 218790,
 18536,
 69405,
 76560,
 362450,
 447440,
 233235,
 290608,
 460465,
 610182,
 38527,
 74980,
 425103,
 233350,
 521147,
 9720,
 43349,
 418608,
 577920,
 92736,
 537548,
 548268,
 14102,
 324480,
 57510,
 205436,
 17199,
 3180,
 380365,
 559188,
 294978,
 150416,
 492811,
 63630,
 272986,
 170816,
 105963,
 140850,
 91250,
 408096,
 456659,
 561666,
 353349,
 196540,
 225316,
 402318,
 205461,
 273504,
 316725,
 389890,
 274011,
 190944,
 43992,
 109800,
 421428,
 426208,
 185135,
 133320,
 403535,
 247036,
 46431,
 117992,
 396660,
 535800,
 154542,
 414414,
 275814,
 283696,
 447440,
 215622,
 169598,
 486032,
 569133,
 87320,
 296856,
 506268,
 250062,
 359218,
 146250,
 130816,
 395274,
 469092,
 292243,
 491840,
 89166,
 280908,
 91743,
 299520,
 6900,
 355306,
 545496,
 376376,
 334606,
 23370,
 112662,
 174944,
 40257,
 115464,
 484770,
 7896,
 524716,
 305728,
 545853,
 264320,
 336518,
 271746,
 350353,
 437572,
 329115,
 295282,
 283689,
 547584,
 450718,
 24750,
 277794,
 515120,
 102289,
 452634,
 173855,
 283968,
 269871,
 464494,
 207744,
 412560,
 492107,
 287292,
 457524,
 429336,
 531790,
 395694,
 195078,
 117572,
 299484,
 357220,
 315813,
 252384,
 178653,
 4208,
 383250,
 151960,
 509402,
 140940,
 428262,
 503880,
 137535,
 442890,
 484429,
 40248,
 437235,
 223590,
 26163,
 188928,
 492604,
 240210,
 491185,
 23876,
 232713,
 462990,
 415615,
 124992,
 150900,
 414652,
 476451,
 470500,
 463072,
 441228,
 276332,
 65472,
 317790,
 269230,
 299744,
 213036,
 257775,
 117600,
 167727,
 483120,
 482617,
 15066,
 279845,
 330572,
 146832,
 231842,
 94757,
 251040,
 387511,
 250472,
 281907,
 275604,
 438425,
 380148,
 121561,
 170864,
 25434,
 232180,
 299222,
 240552,
 196607,
 66638,
 461745,
 95120,
 151401,
 216216,
 100037,
 49680,
 228582,
 315104,
 104196,
 443232,
 68705,
 135746,
 389580,
 194360,
 60885,
 389700,
 337199,
 158144,
 263283,
 136922,
 344430,
 45288,
 77525,
 152048,
 101430,
 125400,
 385003,
 128334,
 315077,
 378448,
 151380,
 394072,
 332111,
 332640,
 116801,
 100190,
 263835,
 398468,
 359534,
 291384,
 234175,
 16536,
 4230,
 289070,
 325012,
 7980,
 98884,
 333982,
 314835,
 17888,
 83415,
 64584,
 278775,
 198996,
 60417,
 392370,
 62168,
 290496,
 34595,
 71862,
 180630,
 43228,
 157573,
 348534,
 365712,
 282400,
 75810,
 96714,
 157212,
 267696,
 91640,
 111896,
 363918,
 181496,
 104006,
 153660,
 339597,
 101656,
 157896,
 46706,
 189035,
 185856,
 154732,
 20246,
 324993,
 205580,
 187605,
 161406,
 70876,
 330880,
 117750,
 211310,
 249537,
 329964,
 112413,
 241240,
 87453,
 223008,
 333603,
 40992,
 294555,
 6188,
 226875,
 22806,
 251978,
 332640,
 226888,
 351914,
 43911,
 260236,
 105435,
 141954,
 223449,
 345664,
 270621,
 188650,
 105049,
 161820,
 28454,
 280606,
 221835,
 289992,
 88837,
 74898,
 61039,
 21080,
 275946,
 2366,
 59312,
 284256,
 28140,
 258182,
 41625,
 251988,
 268772,
 24090,
 36519,
 199096,
 230535,
 3586,
 314275,
 65772,
 237728,
 277886,
 227910,
 229120,
 189486,
 168222,
 205099,
 134300,
 87570,
 43960,
 183105,
 204672,
 160476,
 305660,
 181383,
 128436,
 238539,
 10710,
 305,
 121296,
 302394,
 151604,
 144179,
 243900,
 282854,
 292040,
 151173,
 86136,
 166970,
 50274,
 9376,
 261924,
 256371,
 153120,
 238136,
 128160,
 19803,
 153296,
 127680,
 106500,
 53487,
 138744,
 279876,
 266000,
 65286,
 182090,
 32686,
 189612,
 31350,
 268794,
 223041,
 201824,
 205418,
 241380,
 44116,
 68072,
 132432,
 42560,
 43990,
 215160,
 102570,
 235538,
 254736,
 116740,
 142191,
 5418,
 117449,
 136192,
 192015,
 68072,
 37697,
 190008,
 103412,
 171500,
 25896,
 244280,
 114608,
 75276,
 152880,
 158356,
 195372,
 68486,
 190149,
 234480,
 218446,
 238000,
 168507,
 205084,
 3055,
 68796,
 47998,
 78184,
 42042,
 27600,
 121370,
 131100,
 36547,
 178992,
 207450,
 193088,
 41255,
 38628,
 146081,
 181940,
 127677,
 71504,
 185752,
 70200,
 69445,
 175480,
 141645,
 77380,
 192010,
 187110,
 16929,
 172640,
 118818,
 151204,
 115210,
 85476,
 126063,
 5252,
 59496,
 79400,
 64476,
 101376,
 115048,
 113876,
 139815,
 84778,
 81060,
 78720,
 12606,
 152000,
 12096,
 33464,
 54604,
 176142,
 113035,
 111320,
 67893,
 38038,
 132492,
 111600,
 34905,
 106978,
 35754,
 22704,
 141400,
 3132,
 119197,
 89268,
 39159,
 46920,
 61009,
 162624,
 59452,
 21248,
 137115,
 130052,
 19071,
 43578,
 51520,
 5760,
 38001,
 72680,
 104876,
 98280,
 39060,
 21868,
 71451,
 126464,
 61155,
 3600,
 143338,
 102268,
 102018,
 11096,
 126875,
 80208,
 40326,
 91022,
 98136,
 27860,
 138861,
 71346,
 44662,
 51272,
 73845,
 10050,
 34713,
 23892,
 129297,
 107640,
 31734,
 120960,
 96520,
 105966,
 36125,
 79856,
 92004,
 90280,
 67639,
 89280,
 18683,
 5428,
 87399,
 109504,
 105685,
 65664,
 11978,
 100576,
 43512,
 94490,
 327,
 66528,
 50183,
 5512,
 44940,
 65104,
 7210,
 35700,
 38885,
 46100,
 83655,
 3332,
 54417,
 73824,
 47595,
 46060,
 14415,
 28796,
 50505,
 39240,
 10858,
 48048,
 11832,
 50740,
 66725,
 60396,
 12699,
 1640,
 17010,
 58080,
 45662,
 9906,
 45815,
 69996,
 63300,
 22348,
 4234,
 67248,
 52753,
 60900,
 46368,
 43928,
 13936,
 44220,
 34515,
 49792,
 48258,
 12400,
 44042,
 10380,
 20119,
 10614,
 9690,
 14168,
 18205,
 14256,
 25175,
 49920,
 47175,
 13850,
 8232,
 13392,
 26320,
 33028,
 41265,
 24376,
 28939,
 18522,
 11767,
 4960,
 13689,
 5092,
 23643,
 27936,
 19985,
 25738,
 14883,
 31040,
 13082,
 8850,
 25636,
 21364,
 11286,
 20332,
 6125,
 23928,
 6325,
 14014,
 17514,
 5620,
 16150,
 17910,
 1020,
 15664,
 8130,
 3514,
 11570,
 1944,
 3498,
 8740,
 4734,
 2568,
 1911,
 2148,
 3475,
 3820,
 681,
 694,
 966]

In [13]:
sum(winnings)

248909434